.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

/* .barra-consumo {
    width: 90px;
    height: 40;
} */

button{
    background-color: blue;
}
