<div class="row justify-content-center">
<div class="col-lg-10">

<div class="atendimento">
  <h2>Antedimento</h2>
  <p>Olá seja Bem-vindo ao nosso atendimento!</p>

  <form action="">
    <div class="form-group">
      <label for="mensagem">Envie-nos a sua dúvida</label>
      <textarea class="form-control" name="mensagem" id="mensagem" rows="8" placeholder="Sua mensagem"></textarea>
    </div>
    <div class="pull-right">
      <button class="btn btn-sm btn-primary" type="submit">Enviar</button>
    </div>
  </form>
</div>

</div>
</div>